@import "tailwindcss";

@theme base {
    --font-geist: 'Geist', sans-serif;
    --font-doto: 'Doto', sans-serif;
}

button {
    @apply cursor-pointer;
}

.glossy-icon {
    background-image: radial-gradient(
        200% 160% at 50% -27.5%,
        #FFFFFF80 0%,
        #CCCCCC80 49%,
        #AEAEAE80 50%,
        #4C4C4C80 100%
    );
    background-color:white;
}

.glossy-icondark {
    background-image: radial-gradient(
        200% 160% at 50% -27.5%,
        #CCCCCC 0%,
        #606060 49%,
        #4C4C4C 50%,
        #000000 100%
    );
}


@utility rounded-squircle {
    corner-shape: superellipse(2);
}

@utility rounded-ellipse-* {
    corner-shape: superellipse(--value(integer, [*]));
}