@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme base {
    --font-geist: 'Geist', sans-serif;
    --font-pixel: 'Geist Pixel', sans-serif;
    --font-doto: 'Doto', sans-serif;
    --background-image-dots: radial-gradient(black 1.2px, transparent 1.2px);
}

button {
    @apply cursor-pointer;
}

html {
    scroll-behavior: smooth;
}

.prose {
    --tw-prose-headings: black;
    --tw-prose-bold: black;
    --tw-prose-links: black;
}

.prose :where(h1, h2, h3, h4):not(:where([class~="not-prose"] *)) {
    font-family: var(--font-pixel);
    font-weight: 400;
    letter-spacing: -0.025em;
}

.prose :where(h1):not(:where([class~="not-prose"] *)) {
    font-size: 2rem;
}

.prose :where(h2):not(:where([class~="not-prose"] *)) {
    font-size: 1.5rem;
}

.prose :where(h3):not(:where([class~="not-prose"] *)) {
    font-size: 1.25rem;
}

.prose :where(p, ul, ol):not(:where([class~="not-prose"] *)) {
    font-family: var(--font-geist);
    font-weight: 400;
    color: rgba(0, 0, 0, 0.85);
    font-size:1.05rem;
}

.prose :where(figcaption):not(:where([class~="not-prose"] *)) {
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
}